<header class="bg-primary-50">
    <div class="flex gap-20 mx-auto max-w-screen-xl">
        <div class="flex items-center">
            <img
                class="w-36"
                src="/logo.png"
                alt="Easy for Landlords CLE Logo"
            />
        </div>
        <nav class="flex items-center">
            <ul>
                <li>
                    <a href="/" class="text-text-900 hover:text-primary-900"
                        >Property Management</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>
